<div>
    <div>
        <h2 align="center">Order list</h2>
    </div>
    <div>
        <table class="table table-info table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th> Order Id </th>
                    <th> User Id </th>
                    <th> Condition Type </th>
                    <th> Total Price </th>
                    <th> Order Note </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <td>{{order.orderId}}</td>
                    <td>{{order.userId}}</td>
                    <td>{{order.conditiontypeId}}</td>
                    <td>{{order.totalPrice}}</td>
                    <td>{{order.orderNote}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
