<body class="text-center">
    
    <main class="form-signin">
      <!-- <form method="post" action="/users"> -->
      <!-- <form method = "post" >   -->
       <form>
        <h1 class="h3 mb-3 fw-normal">Please log in</h1>
    
        <div class="form-floating">
          <input type="username" class="form-control" id="Username" placeholder="Username">
          <label for="floatingInput">Username</label>
        </div>
        
        <div class="form-floating">
          <input type="password" class="form-control" id="Password" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        
        <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="login($event)">login</button>
      
      </form>
    </main>
</body>